{%extends "Home/index.html"%} {%block start%}
<div class="container">
  <div class="mt-5">
    <h1>Start Tracking Your Journey</h1>
    <p class="text-muted">
      By clicking the "Start" button, you'll enable our website to record your
      system activity, including capturing screenshots. This helps us create a
      more personalized and secure experience for you. Your data is always
      handled with the highest standards of privacy and security.
    </p>
    <button class="btn btn-primary">Start</button>
  </div>
  <div class="mt-5">
    <h2>User Activity</h2>
    <div>
      <div class="bg-info mb-1">Hello</div>
      <div class="bg-info mb-1">Hello</div>
      <div class="bg-info mb-1">Hello</div>
      <div class="bg-info mb-1">Hello</div>
    </div>
  </div>
</div>

{%endblock%}
